.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.banner h1 {
  color: rgb(12, 215, 215);
  font-size: 60px;
}
.banner p {
  color: rgb(226, 29, 226);
  opacity: .7;
  font-size: 30px;
}
